/*make Tim
QQ£º373755254*/

/*common*/
html, body {height: 100%;}
body {font: normal 12px/18px Tahoma,"simsun","Microsoft Yahei";background: white;
color: #858383;-webkit-text-size-adjust: none;}
a, a:link, a:visited, a:active {color: #07C;text-decoration: none;-webkit-transition: color .1s linear, background .1s linear;-moz-transition: color .1s linear, background .1s linear;-o-transition: color .1s linear, background .1s linear;-ms-transition: color .1s linear, background .1s linear;transition: color .1s linear, background .1s linear;}
/*main*/
.Tim-wp {width: 670px;height: auto;overflow: hidden;padding: 20px 0;}
.m0{margin: 0 auto;}
.Tim-search{text-align: center;margin-top: 15px;}
.Tim-wp form{padding: 5px 0;background: #C45F2B;}
.so-txt{height: 28px;line-height: 28px;}
.qq-404{width: 50px;color: white;background: #C74302;padding: 10px;position: absolute;margin-top: -40px;_margin-top: -60px;left: 780px;}
.Tim-wp .mod_lost_child, .Tim-wp .mod_lost_child_little {width: 670px;margin: 20px auto;}
.Tim-wp .info p{display: none;}
.Tim-wp .lost_child_box{display: none;}
.Tim-wp .active{display: block; }