<?xml version="1.0"?>
<root><version>2</version><board><fup>1</fup><fid>2</fid><fname>bordername</fname><fup>1</fup><fid>39</fid><fname>bordername</fname><fup>1</fup><fid>40</fid><fname>bordername</fname><fup>36</fup><fid>41</fid><fname>bordername</fname><fup>36</fup><fid>42</fid><fname>bordername</fname><fup>36</fup><fid>43</fid><fname>bordername</fname><fup>36</fup><fid>44</fid><fname>bordername</fname><fup>37</fup><fid>45</fid><fname>bordername</fname><fup>37</fup><fid>46</fid><fname>bordername</fname><fup>37</fup><fid>47</fid><fname>bordername</fname><fup>37</fup><fid>48</fid><fname>bordername</fname></board><classFid><classItem>66</classItem><classItem>3</classItem></classFid><login>8</login><allowReg>1</allowReg><classHd>3</classHd><classtz>3</classtz><register>6</register><wbkey>\u0035\u0035\u0035\u0035</wbkey><secret>\u0036\u0036\u0036</secret></root>
