.sharetck{
			width:440px;
			border:4px solid #B7D5EF;
		}
		.sharetck_title{
			width:440px;
			height:30px;
			background:#EEEEEE;
		}
		.sharetck_title span{
			display:blcok;
			width:90px;
			height:30px;
			line-height:30px;
			color:#0071C1;
			font-size:12px;
			font-weight:bold;
			float:left;
			margin-left:10px;
			font-family:Î¢ÈíÑÅºÚ;
		}
		.sharetck_title input{
			display:block;
			width:16px;
			height:16px;
			background:url(close.png);
			float:right;
			margin-top:7px;
			margin-right:10px;
			border:none;
		}
	
		.tanchukuang_content{
			width:330px;
			margin-left:25px;
			margin-top:10px;
			height:25px;
		}
		.tanchukuang_content span{
			display:block;
			width:45px;
			height:21px;
			line-height:21px;
			color:#666666;
			float:left;
			font-size:12px;
		}
		.tanchukuang_content input{
			display:block;
			width:270px;
			height:17px;
			border:1px solid #999999;
		}
		.botton{
			width:110px;
			height:20px;
			clear:both;
			padding-left:235px;
		}
		.confirm{
			display:block;
			width:48px;
			height:21px;
			background:url(sure11.png);
			border:none;
			color:#fff;
			border-radius:2px;
			float:left;
			
		}
		.cancel{
			display:block;
			width:48px;
			height:21px;
			background:url(sureno11.png);
			float:right;
			border:none;
		}