.sharetck{
			width:360px;			 
			border:4px solid #B7D5EF;
		}
		.sharetck_title{
			width:360px;
			height:30px;
			background:#EEEEEE;
		}
		.sharetck_title span{
			display:blcok;
			width:90px;
			height:30px;
			line-height:30px;
			color:#0071C1;
			font-size:12px;
			font-weight:bold;
			float:left;
			margin-left:10px;
			font-family:Î¢ÈíÑÅºÚ;
		}
		.sharetck_title input{
			display:block;
			width:16px;
			height:16px;
			background:url(close.png);
			float:right;
			margin-top:7px;
			margin-right:10px;
			border:none;
		}
	
		.tanchukuang_content{
			width:360px;
		 
		}
		.tanchukuang_content_one,.tanchukuang_content_two{
			width:340px;
			margin-left:10px;
			margin-top:10px;
			height:40px;
		}
		.tanchukuang_content_one span,.tanchukuang_content_two span{
			display:block;
			width:60px;
			height:21px;
			line-height:21px;
			color:#666666;
			float:left;
			font-size:12px;
		}
		.tanchukuang_content_one input{
			display:block;
			width:270px;
			height:17px;
			border:1px solid #999999;
		}
		.tanchukuang_content_one p{
			display:block;
			width:280px;
			color:#666666;
			float:left;
			font-size:12px;
			margin-left:55px;
			margin-top:5px;
		}
		.tanchukuang_content_two select{
			display:block;
			width:90px;
			height:21px;
			border:1px solid #999999;
			float:left;
		}
		.tanchukuang_content_two input{
			display:block;
			width:170px;
			height:17px;
			border:1px solid #999999;
			float:left;
			margin-left:10px;
		}
		
	
		.botton{
			width:110px;
			height:20px;
			clear:both;
			padding-left:235px;
		}
		.confirm{
			display:block;
			width:48px;
			height:21px;
			background:url(sure11.png);
			border:none;
			color:#fff;
			border-radius:2px;
			float:left;
			
		}
		.cancel{
			display:block;
			width:48px;
			height:21px;
			background:url(sureno11.png);
			float:right;
			border:none;
		}