@charset "utf-8";
/* CSS Document */
*{list-style:none;
  padding:0;
  margin:0;}
.qing{font-size: 1px;
	  height: 0;
	  clear: both;}
html body {font-family: "helvetica neue", "lucida grande", helvetica, arial, sans-serif, "宋体"; }
BODY {
	color: #666666;
	background: #f6f6f6;
	font-size: 12px;
}
.cb {
	CLEAR: both
}
h1, h2, h3, h4{
	font-family: "微软雅黑", "黑体", "helvetica neue", "lucida grande", helvetica, arial, sans-serif;
	line-height: normal;
	font-weight: 900;
	
}
a{text-decoration:none;}
a:link {
	COLOR: #0174a7;
	text-decoration:none;
}
a:visited {
	COLOR: #0174a7;
	text-decoration:none;
}
a:hover {
	COLOR: #0174a7;
	text-decoration:none;
}
a:active {
	COLOR: #0174a7;
	text-decoration:none;
}
img{border:none;}
input[type="button"]{
	background:url(anmi_input_bg.gif) repeat-x top left;
	border:1px solid #aaa;
	border-radius:4px;
	height:26px;
	line-height:26px;
	cursor: pointer;
	color: #000;
	padding: 0 13px!important;
	padding: 0 2px;
	vertical-align: middle;
	font-size:14px;
	}
input.binput{
	background:url(anmi_input_bg.gif) repeat-x bottom left;
	border:1px solid #3f7acc;
	border-radius:4px;
	cursor: pointer;
	color: #fff;
	padding: 0 13px!important;
	padding: 0 2px;
	vertical-align: middle;
	font-size:14px;
	}
input.wb_input{
	width:318px;
	border: 1px solid #999999;
	font-size: 12px;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 28px;
	height: 28px;
	vertical-align: middle;
}
.mima_input{
	border: 1px solid #b6b6b6;
	color: #000;
	font-size: 12px;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 28px;
	height: 28px;
	vertical-align: middle;
	width:318px;
	}

font.red{color: red;
    padding: 0 10px;}
font.hui{color:#666;}
font.blue{color:#417dd1;}
font.black{color:#000;
		   font-size:14px;}
font.bai{color:#fff;
		 font-size:14px;
		 display: block;
		 margin-bottom:5px;}
font.green{color:#0cab00;}
/*==============heea===============*/
#head{
	background:url(head_bg.jpg) repeat-x;
	height:70px;
	position:fixed;
	width:100%;
	top:0;
	z-index:100;
	}
#head_nav{width:825px;
		  margin:0 auto;
		  height:70px;
		  background:url(logo_app.png) no-repeat 0 center;
		  padding-left:175px;}
#nav{width:550px;
	 float:left;
	 height:70px;
	 padding-left:20px;}		  	  
#nav a{display:block;
			 float:left;
			 width:104px;
			 height:70px;
			 line-height:70px;
			 color:#c8dff0;
			 text-align: center;
			 font-size: 16px;
			 font-family: Tahoma,"微软雅黑","黑体";
			 font-weight:600;}
#nav a:hover{color:#fff;}			 
#nav .selet{background:url(nav_selet.gif) no-repeat;
			color:#fff;}			 
		   
#home_login{float:right;
			padding-top:24px;
			height:46px;
			width:215px;
}
			
#home_login .login_qian{color:#fff;
			  display:block;
			  float:left;
			  height:22px;
			  line-height:22px;
			  width:61px;
			  background:url(zc_bj2.gif) no-repeat;
			  font-weight:600;
			  margin-left:5px;
			  text-align:center;}
			  
#home_login a{display:block;
			   float:left;
			   color:#fff;
			   margin-left:8px;
			  text-align:center;}			  
			  
			  
			
#guanzhu{
		 right:190px;
		 position: absolute;}			
#guanzhu a{display:block;
		   float:left;
		   margin-right:5px;}
		   
		   
/*=================xiaonav================*/		   
.xiaonav_box{height:34px;}		   
.xiaonav{width:998px;
		 height:33px;
		 background:url(xiaonav_bg.gif) repeat-x;
		 border:1px solid #dfdfdf;
		 border-top:none;
		 margin:0 auto;}	
#xnav_step{ width:708px!important;
			width:738px;
 			padding-left:290px!important;
			padding-left:260px;
			height:30px;
			padding-top:3px;}
#xnav_step li{border-bottom: 2px solid #afafaf;
				float: left;
				font-family: Tahoma,"微软雅黑","黑体";
				line-height: 25px;
				margin-right: 35px;
				color:#333;}		   
#xnav_step .now{border-bottom:2px solid #ff9600;
				color:#2183cc;}		   
#xnav_step .done{border-bottom:2px solid #ff9600;
				color:#333;}		   

			
/*==============main===============*/			
#main,#main2{
	         margin-top:70px!important;
	         margin-top:0;}
#main{padding-top:10px;}			 
#main2{padding-top:0px;}

#main_box{width:1000px;
		  margin:0 auto;
		  background:#fff;}	
		  
#banner{width:1000px;
		height:460px;
		position: relative;}		  
.ctrl{position:absolute;
	  bottom:0px;
	  z-index:100;
	  height:32px;
	  width:535px;
	  padding-top:8px;
	  padding-left:465px;}		
.ctrl span{
	float:left; 
	width:13px; 
	height:13px; 
	line-height:13px; 
	cursor:pointer;
	margin-right:6px; 
	background:url(banner_btnhui.png) no-repeat;
	text-align:center;}
.ctrl span.hov{ background:url(banner_btnblue.png) no-repeat;}
#img{ z-index:10;}
#img img{ width:1000px; height:460px; display:none;}		  
		  
#ljzz{width:1000px;
	  border-top:none;
	  text-align:center;
	  padding-top:10px;
	  background:#f6f6f6;}		  
input.home_input{
	background:url(home_input_bg.jpg) repeat-x;
	width:223px;
	height:50px;
	border:1px solid #3d7bce;
	border-radius:4px;
	cursor: pointer;
	vertical-align: middle;
	height:50px;
	line-height:50px;
	font-size: 24px;
	font-family: Tahoma,"微软雅黑","黑体";
	color:#fff;
	padding-top: 0;
	padding-right: 60px;
	padding-bottom: 0;
	padding-left: 60px;
	}		  
		  
/*======footer=======*/		  
#footer{padding:10px 0;}
#footer_box{width:1000px;
			margin:0 auto;}
#fot_left{width:500px;
		  float:left;}	
#fot_left a{color:#000;}	
	
#fot_right{width:500px;
		   float:right;
		   text-align:right;}	
	
#help{position: fixed;
	  bottom:-10px;
	  right:100px;
	  background:url(gonggao_an_bg.png) no-repeat;
	  width: 59px;
	  heght:35px;
	  line-height:45px;
	  text-align:center;}	
#help a{color:#fff;
		font-size:14px;}	
		
		
/*=============zhuce_css===========*/		
.main_box2{width:998px;
		   margin:0 auto;
		   background:#fff;
		   border:1px solid #dfdfdf;}			
#zhuce_box{padding-top:30px; 
		   position:relative;}		
#zc_title{width:480px;
		  height:80px;
		  position:absolute;
		  left:-12px;}		
.zc_text{padding-top:110px;
		 padding-bottom:20px;}		
		
.zc_text table td{padding:7px 5px;
				  color: #000000;}
				  
.loginzc_text{padding-top:80px;}	
.loginzc_left{width:550px;
			  height:300px;
			  float:left;
			  background:url(loginzc_fgx.gif) no-repeat right top;
			  padding-top:40px;}	
.loginzc_right{width:383px;
			   float:right;
			   padding-top:40px;
			   padding-left:65px;}	
	
.loginzc_right table a img{border:1px solid #cfcfcf;
						   display:block;}	
input.reg_sub {
    background: url("anmi_input_bg.gif") repeat-x scroll left top transparent;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    padding: 0 13px !important;
    vertical-align: middle;
}		  		  
/*=========xinjianyingyong_css==========*/		  
		  
#xinjian_lei{width:908px;
			 border:1px solid #dfdfdf;
			 padding:5px 45px 0px;
			 border-top:none;}	
#xinjian_lei a{display:block;
			   float:left;
			   color:#000;
			   border:1px dashed #cfe3ff;
			   padding:8px;
			   margin-right:50px;
			   margin-bottom:20px;
			   text-align:center;
			   width:150px;
			   background:#fff;
			   line-height: 20px;
			   height:150px;
			   }
#xinjian_lei a:hover{filter:alpha(opacity=70);
					 -moz-opacity:0.7;
					 -khtml-opacity: 0.7;
					 opacity: 0.7;}

#xinjian_lei a.xj_leinow{filter:alpha(opacity=100);
						-moz-opacity:1;
						-khtml-opacity: 1;
						opacity: 1;
						background:url(sanjiao.png) no-repeat center bottom #c0daff;
						border:1px solid #fff;}
#xinjian_lei a.xj_youce{margin-right:0;float:right;}



.xinjian_ban{width:938px;
			 border:1px solid #dfdfdf;
			 border-top:none;
			 padding:10px 30px 10px;}
.xinjian_ban dl{float:left;
				margin-right:32px;

				width:156px;
				background:url(ban_bgjpg.jpg) no-repeat;
				padding-top: 5px;
				padding-left: 6px;}
.xinjian_ban dl dt{width:147px;
				   height:232px;}
.xinjian_ban dl dt img{display:block;
						width:145px;
						height:230px;
						border:1px solid #ddd;}
.xinjian_ban dl dd{width:147px;
				   height:26px;
				   line-height:26px;}
.xinjian_ban dl dd a{color:#0174a7;}	
.xinjian_ban dl .xj_dd a{
				    display:block;
				    background:url(xinjian_ban_dd_bg8.jpg) repeat-x;
				    text-align:center;
				    font-weight:600;
				    color:#fff;}
.xinjian_ban dl .xj_ddx{padding-top:10px;
						width: 155px;}					
					
.xinjian_ban .xinjian_tedl{margin-right:0; float: right;}

.xj_Selecttitle{font-size:12px;
				font-family: "微软雅黑", "黑体","宋体";
				color:#000;
				font-weight:600;
				padding-bottom:10px;}

/*=========tianxieyingyong_css==========*/	
#tianxie_left{padding-left:25px;
			  padding-top:20px;
			  width:535px;
			  float:left;}




#tianxie_right{width:425px;
			   float:right;
			   padding-right:10px;
			   padding-top:20px;}
.preview1 {
	height: 380px;
	width: 230px;
	background:  url(androids3.png) no-repeat left top;
	margin: 0px auto;
	padding: 58px 38px 69px 17px;
	overflow: hidden;
}
.preview2 {
	height: 290px;
	width: 200px;
	background:  url(iphone.gif) no-repeat left top;
	margin: 0px auto;
	padding: 95px 26px 92px 27px;
}
.preview3 {
	height: 390px;
	width: 300px;
	background: #FFFFFF url(ipad.gif) no-repeat left top;
	margin: 0px auto;
	padding: 63px 64px 57px 61px;
}

#preview_menu {
	display: block;
	height: 43px;
	padding: 7px 10px 10px;
	background: url(app_preview_menu.gif) repeat-x left top;
	line-height: 43px;
	border-radius: 7px;
}
#preview_menu li {
	float: left;
	margin: 0px 3px 0px 0px;
}
#preview_menu a {
	background: url(app_preview_menu_a.gif) no-repeat left top;
	height: 43px;
	width: 108px;
	display: block;
	text-align: center;
	line-height: 43px;
	color: #333333;
}
#preview_menu a:hover {
	color: #0174a7;
	text-decoration: none;
}
.xinjian_zi{
font-size:14px;
color:#000;
line-height:24px;}
.input_1{
	border: 1px solid #b8b8b8;
	height:24px;
	line-height:24px;
	width:320px;
}
.tishi_zi{
color:#417dd1;
line-height:30px;
font-size:12px;}
.input_2{
	border: 1px solid #b8b8b8;
	height:150px;
	line-height:20px;
	width:320px;
}

#skin_box a {
    border: 1px dashed #CFE3FF;
    color: #000;
    display: block;
    float: left;
    height: 105px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 18px 10px 14px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}
#skin_box a:hover{filter:alpha(opacity=70);
					 -moz-opacity:0.7;
					 -khtml-opacity: 0.7;
					 opacity: 0.7;}

#skin_box a.type_now{
			background:url(selected2.png) no-repeat 95px 112px #C0DAFF;
			filter:alpha(opacity=100);
			-moz-opacity:1;
			-khtml-opacity: 1;
			opacity: 1;}

	
.tab_div{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #b8b8b8;
	border-bottom-color: #b8b8b8;
	border-left-color: #b8b8b8;
	padding:20px;
	width:348px;
}
.tab_div2{ padding: 20px 10px 10px;
   		   width: 368px}


.zairu_1{
line-height:28px;
font-size:12px;}

/*=========shengchengyingyong=========*/
#shengcheng_yn{height:500px;
			   background:#fff;
			   padding-top:50px;}		  
input.erhao_btnbai{width:115px;
					height:34px;
					padding: 0 13px!important;
					padding: 0 2px;
					vertical-align: middle;
					font-size:14px;
					height:34px;
					line-height:34px;
					cursor: pointer;
					background:url(2hao_btnbai.gif) no-repeat;
					border:none;}		    
input.erhao_btnlan{background:url(2hao_btnlan.gif) no-repeat;
					width:115px;
					height:34px;
					padding: 0 13px!important;
					padding: 0 2px;
					vertical-align: middle;
					font-size:14px;
					height:34px;
					line-height:34px;
					cursor: pointer;
					border:none;
					color:#fff;}



/*======guanliyingyong_xiaonav======*/		  
#xnav_kuang{width:728px!important;
			width:768px;
			height:33px;
			padding-left:179px!important;
			padding-left:230px;}		  
#xnav_kuang a{display:block;
			  height:33px;
			  line-height:33px;
			  padding:0 10px;
			  float:left;
			  font-size: 14px;
	          font-family: Tahoma,"微软雅黑","黑体";
			  color:#333;}		  
#xnav_kuang a:hover{background:url(xiaonav_seletbg.jpg) repeat-x;
					color:#fafafa;}		  
#xnav_kuang a.xnav_selet{background:url(xiaonav_seletbg.jpg) repeat-x;
						 color:#fff;}		  
		  
		  
#guanli_yn{width:978px;
		   padding:10px 10px 0;
		   height:auto;}			
#guanli_yn_title{width:978px;
				height:35px;
				line-height:35px;
				text-align:center;
				color:#417dd3;
				font-size:16px;
				font-family: Tahoma,"微软雅黑","黑体";
				font-weight:600;}
#guanli_yn_text{width:978px;}				
#app_list li{background: url("app_li_bg.gif") no-repeat scroll 160px -25px transparent;
				border: 1px solid #DDDDDD;
				border-radius: 2px;
				float: left;
				height: 62px;
				margin: 10px 10px 10px!important;
				margin: 10px 5px 10px;
				padding: 6px;
				width: 288px;}				
.app_ico_mask{position: absolute;}				
.app_ico {
    height: 48px;
    padding: 3px;
    width: 48px;
}				
#app_list strong {
    font-size: 14px;
}								
.blackgl{color: #666666;}				
#app_list td{line-height: 150%;}				
	

#guanli_yn_yema{width:978px;
				height:30px;
				line-height:30px;
				text-align:center;
				margin:0 auto;
				position:relative;}
	
.btn_left{display:block;
		  background:url(btn_left.png) no-repeat;
		  width:23px;
		  height:23px;}	
.btn_right{display:block;
		   background:url(btn_right.png) no-repeat;
		   width:23px;
		   height:23px;}
		   
#guanli_yn_yema .geshu{position:absolute;
						right:230px;
						top:0;}		   
		   
/*=============yingyongzhongxin_css================*/		   
#yingyong_box{width:1000px;
			  margin:0 auto;}	
#yy_lrquan{float:left;}
#yy_left{width:170px;
		 float:left;
		 margin-right:10px;}	
.yy_title{width:168px;
		  height:38px;
		  line-height:38px;
		  background:#417dd2;
		  border:1px solid #59a0fc;
		  font-size:16px;
		  font-family:"微软雅黑";
		  font-weight:600;
		  text-align:center;
		  color:#fff;}		 
#yy_left ul li a{display:block;
				 width:140px;
				 border:1px solid #dfdfdf;
				 border-top:none;
				 height:38px;
				 line-height:38px;
				 background:url(squer_hei.jpg) no-repeat 20px center #fff;
				 padding-left:28px;
				 font-size:12px;
				 font-family:"微软雅黑";
				 color:#666;}		 
#yy_left ul li a:hover{background:url(squer_blue.gif) no-repeat 20px center #f6f6f6;
					   border-bottom:2px solid #6b96d1;
					   color:#417dd2;}		 
	 
		 
#yy_cen{width:650px;
		float:left;
		margin-bottom:10px;}	
#yy_cen_up{width:650px;
		   height:310px;}		
#yy_cen_down{width:650px;
			 margin-top:10px;}		
.zuiyy{width:320px;
	   float:left;
	   background:#fff;
	   margin-right:10px;}
	
.zuiyy_title,.tuijian_title{height:38px;
							 line-height:38px;
							 padding-left:15px;
							 border:1px solid #dfdfdf;
							 background:#f5f5f5;
							 color:#2a2a2a;
							 font-size:14px;
							 font-weight:600;
							 font-family:"微软雅黑";}
.zuiyy_title{width:303px;}	
.tuijian_title{width:813px;}

.zuiyy_text{width:298px;
			height:330px;
			border:1px solid #dfdfdf;
			border-top:none;
			padding:25px 10px;}		
.zuiyy_text table tr{padding:2px;}		
.zuiyy_you{margin-right:0;}		
		
	
		
#yy_right{width:160px;
		  float:right;}		   
#yy_top10{width:160px;}		   
.yytop_title{width:158px;
		  height:38px;
		  line-height:38px;
		  background:#417dd2;
		  border:1px solid #59a0fc;
		  font-size:16px;
		  font-family:"微软雅黑";
		  font-weight:600;
		  text-align:center;
		  color:#fff;}		   
#yytop_text{width:158px;
			height:508px;
			border:1px solid #dfdfdf;
			background:#fff;}		   
.tab2 {
	height: 30px;
	margin: 10px 0;
	padding: 0px 5px!important;
	padding: 0 2px; 
	background: url(line4.png) repeat-x bottom;
}
.tab2 a { 
	display: block;
	float: left;
	line-height: 26px;
	margin-top: 3px;
	background: #E7E7E7;
	padding: 0px 3px;
	margin-right: 5px;
	color: #666666;
	text-decoration: none;
}

.tab2 a:hover {
	background: #eeeeee;
	color: #666666;
	text-decoration: none;
}

.tab2 a.now {
	display: block;
	float: left;
	line-height: 28px;
	background: #FAFAFA;
	padding: 0px 3px;
	margin-right: 5px;
	color: #666666;
	text-decoration: none;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #FAFAFA;
	border-left: 1px solid #CCCCCC;
	margin-top: 0px;
	font-weight: 600;
}
.tab2 a.now:hover {
	background: #FAFAFA;
}		   
		   
		   
#yytop_ph{width:148px;
          padding:0 5px;}		   
		   
.music_numred{
	font-size:12px;
	color:#ff6700;}		   
		   
#yytop_ph table td{padding:15px 5px;
				   border-bottom:1px dotted #d8d8d8;}		   
		   
.m_up{ display:block;
		width:7px;
		height:8px;
		line-height:8px;
		cursor: pointer;
		overflow:hidden;}
#guanggao{width:160px;
		  height:380px;
		  margin-top:10px;
		  background:url(guanggao2.gif) no-repeat;
		  position:relative;}		
#guanggao span{position:absolute;
			   right:15px;
			   top:220px;}	
	
	
	
#yy_tuijian{width:830px;
			background:#fff;
			clear:both;}		
		
#tuijian_text{width:778px;
			  border:1px solid #dfdfdf;
			  border-top:none;
			  padding: 10px 25px;}		
		
		
		
		
		
	
					
/*============updwon_pc===========*/		
.updownpc{width:980px;
		 height:auto;
		 margin:0 auto;
		 padding: 0px 10px;}		
		
.updown_left{padding-top:15px;
			 width:550px;
			 float:left;}		
.updownblue,.updownblue2{
			font-family:"微软雅黑";
		    font-weight:600;
			color:#407bcf;}	
.updownblue{font-size:16px;}
.updownblue2{font-size:14px;}




.updown_an{padding-left:95px;
		   padding-top:25px;}		
		
.android_an{display:block;
			width:200px;
			height:53px;}		
		
.updown_right{width:295px;
			  height:445px;
			  float:right;
			  padding:122px 53px 150px 82px;
			  background:url(iphone_updown6.gif) no-repeat 50px 6px;}		
		
/*=========mingcheng_css===============*/		
#mingcheng_box{width:928px;
			   margin:0 auto;
			   background:#fff;
			   border:1px solid #dfdfdf;
			   padding:25px 35px;}	

.updowngreen{font-size:16px;
			font-family:"微软雅黑";
		    font-weight:600;
			color:#60a914;}		
		
#aian table td{height:35px;
			   line-height:35px;}		
		
		
/*======shujutongji_css======*/	
#shuju_box{width:928px;
		   margin:0 auto;
		   background:#fff;
		   border:1px solid #dfdfdf;
		   padding:40px 35px;}
#shuju_box table td{padding:7px 5px;}		
#shuju_box table .sj_now{color:#666;
						 font-weight:600;}		
		
		
.data1{border-collapse:collapse;}
.data1 th,.data1 td{
					border:1px solid #f0f0f0;
					vertical-align: middle;
					text-align:center;
					padding-left:10px;}		
.data1 th{background: #2c8cce;
			font-size: 12px;
			color: #FFFFFF;
			font-weight: normal;
			padding: 0px 5px;
			line-height: 30px;
			}					
		
		
/*=====fabuyingyong_css========*/		
#fb_jt{border:1px solid #999;
	   padding:10px 0;}		
		
		
/*========guanggaoguanli_css======*/		
.gggl{width:798px;
	  float:right;
	  background:#fff;
	  border:1px solid #dfdfdf;
	  padding:10px;}	
		
.ggxl{width:115px;
	  height:22px;
	  line-height:22px;
	  border:1px solid #999;
	  vertical-align:middle;}			
		
.data2{border-collapse:collapse;}
.data2 th,.data2 td{
					border:1px solid #f0f0f0;
					vertical-align: middle;
					padding-left:10px;
					padding:7px 5px;}		
					
.data2 th{background: #2c8cce;
			font-size: 12px;
			color: #FFFFFF;
			font-weight: normal;
			padding: 0px 5px;
			line-height: 30px;}					
#tishi{width:168px;
	   height:auto;
	   padding:5px;
	   background:#fff600;
	   color:#000;
	   border:1px solid #d4d4d4;}							
/*===========report_css============*/		
#report_table1 table td{padding:7px 5px;
						line-height:1.6;}
#report_table1 table .sj_now{color:#666;
						 font-weight:600;}
#hr{border-top:1px solid #dfdfdf;}						 
						 
input.zh_input{width:58px;
				border: 1px solid #999999;
				font-size: 12px;
				padding-right: 5px;
				padding-left: 5px;
				line-height: 28px;
				height: 28px;
				vertical-align: middle;}

.upspan{display:block;
	    width:430px;
		height:30px;
		overflow:hidden;
		position:absolute;
		z-index:100;
		cursor: pointer;}
#file{filter:alpha(opacity=0);
	 -moz-opacity:0;
	 -khtml-opacity: 0;
	 opacity: 0;
	 height:30px;
	 width:430px;}


/*===========tianxieyingyong_tck==============*/
.pli_box{width:594px;
      height:646px;
	  background:#fff;
	  border:3px solid #B4D6F2;}
.pli_title{line-height:24px;
		   padding:5px 10px;
		   font-weight:600;
		   background:#eee;
		   color:#407bce;}	  
.img_right{float:right;
			padding-top:2px;}	  
	  
.pli_text{height:512px;
          border:1px dashed #d6d6d6;}	  
.pli_an{line-height:50px;
        text-align:center;}	  
	  
	  
/*=========fengxiangyingyong_tck===============*/	  
	  
.popup_box{background:#fff;
	 	   border:3px solid #B4D6F2;}	  
	  
.chooseDiv{width:410px;}	  
.popup_title{ background: none repeat scroll 0 0 #EEEEEE;
			color: #006DBA;
			font-size: 12px;
			font-weight: bold;
			line-height: 24px;
			padding: 5px 10px;}	  
.popup_content{padding:10px;
				padding-bottom:0;}		  
	  
.fengxiang_box{border:1px solid #ececec;} 
.fx_main{padding:10px;
		 font-size:12px;
		 color:#333333;
		 min-height: 100px;
		  line-height: 20px;
		  overflow:auto;}
.biaoqing_box{background:#f6f6f6;
              border-top:1px solid #ececec;
			  height:24px;
			  text-align:right;
			  padding-right:20px;
			  line-height:24px;}
.fxdao{border:1px dotted #cacaca;
	   padding:10px;}
.pop_box{text-align:right;
		 line-height:50px;
		 padding-right:10px;}


/*===========appcenter_css==================*/
.kuang{width:1000px;
       margin:0 auto;
	   height:570px;}
.appcenter{width:1000px;
		  position:relative;}
.Leftcurtain{width:664px;
			 height:543px;
			 position:absolute;
			 top:25px;
			 left:-490px;
			 z-index:500;
			 overflow:hidden;
		     background:url(Left_weimu.png) no-repeat;}
.Rightcurtain{width:664px;
			  height:543px;
			  top:25px;
			  right:-490px;
			  z-index:500;
			  overflow:hidden;
			  background:url(Right_weimu.png) no-repeat;
			  float:right;
			  position:absolute;}
/*==========yingyongxiangqing_css===========*/		
#yyxq{width:1000px;
	  height:544px;
	  background:url(yy_bg.gif) no-repeat;
	  padding-top:25px;
	  position:absolute;
	  overflow:hidden;}		
.yyxqbtnL,.yyxqbtnR{width:52px;
		  height:54px;
		  cursor: pointer;
		  position:absolute;
		  }
.yyxqbtnL{left:35px;
		  top:280px;}
.yyxqbtnR{right:35px;
		  top:280px;}		
		
.yyxq_tuwen{padding:0 80px;
			position:absolute;
			z-index:600;}
.yyxq_tuwenli{padding:0 30px;}
/*
.yyxq_tuwen a{display:block;
			  width:80px;
			  height:130px;
			  margin:10px 38px!important;
			  margin:10px 30px;
			  padding:26px 26px 0;
			  text-align:center;
			  color:#333;
			  float:left;}	
.yyxq_tuwen a:hover{background:url(yyfl_tubg.png) no-repeat;
					color:#000;}			  		  
.yyxq_tuwen span{display:block;}		
.yyxq_tuwen a em{display: block;
				font-style: normal;
				padding-top: 10px;}	
				
			
		
.tanchu{width:290px;
		margin:0 auto;
		border-radius:2px;
		background:#699be1;
		padding:10px;
		padding-top:15px;
		position:relative;}		
.tanchu a{display:block;
		  width:16px;
		  height:16px;
		  float:right;
		  text-align:right;
		  position: absolute;
		  right:10px;}		
*/		

.tw_icon{float: left;
		height: 86px;
		margin: 50px 39px!important;
		margin: 50px 30px;
		position: relative;
		padding: 15px 20px;
		width: 86px;}
.tw_iconli{width:72px;
		   height:72px;
		   margin:75px 35px 30px;
		   position: relative;
		   padding: 15px 20px;
		   float:left;}
.tw_icon .biao,.tw_iconli .biao{
							  padding:6px;
							  display:block;}
.tw_icon .biao{width:80px;
              height:80px;}
.tw_iconli .biao{width:60px;
				 height:60px;}
.tw_icon .biao:hover{background:url(biao_bg2.png) no-repeat;}
.tw_iconli .biao:hover{background:url(biao_bg3.png) no-repeat;}


.tw_icon .em{font-style: normal;
			 display: block;
			 height: 30px;
			margin-top: 10px;
			overflow: hidden;
			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 86px;
			font-size:14px;
			color:#fff;}
.tw_iconli .em{
	color:#FFFFFF;
	display:block;}
.tw_iconli .public{top:85px;
	}
.public{background:#E1DBD1;
		border:3px solid #b4d6f2;
		border-radius: 10px;
		position:absolute;
		width:290px;
		padding: 5px;
		top:105px;
		left:20px;
		z-index:1000;
		}			
.guanbi{position:absolute;
		width:16px;
		height:16px;
		cursor: pointer;
		background:url(close.png) no-repeat;
		right:10px;}			
.public .biao{float:left;
			  padding:3px;
			  position: relative;}			
.public_zi{float: left;
		   margin-left:10px;
		   color:#815a15;}
.public_zi table strong{font-size:14px;
						color:#000;}
.slides{height:500px;}		   
.pagination{line-height:30px;
		    text-align:center;}	
.pagination table{margin:0 auto;}


.yy_back{ padding-top: 20px;
		position: absolute;
		text-align: center;
		width: 1000px;
		z-index: 700;}




