@charset "utf-8";
/* CSS Document */
BODY {
	MARGIN: 0 auto;
	padding: 0px;
	font-size: 12px;
	background-color: #fefefe;
}

dt,dd,dl,p,h3,h2,h1{ margin:0; padding:0px;}
div{margin: 0px auto;}
ul,li{	list-style: none; margin:0; padding:0px;}
.us_1{
 line-height:20px;}
.hide {
	DISPLAY: none;
	VISIBILITY: hidden;
	height: 0px;
	width: 0px;
	position: absolute;
}
.clear {
clear:both;
height:20px;}
.alignleft {
	text-align: left;
}
.alignright {
	text-align: right;
}
.aligncenter {
	text-align: center;
}
A:link {
	COLOR: #333;
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #333;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #0174a7;
	TEXT-DECORATION: underline
}
A:active {
	COLOR: #333;
	TEXT-DECORATION: underline
}
#lang_bar {
	height: 5px;
	background: #FFFFFF url(../img/lang_box.gif) repeat-x left bottom;
	clear: both;
	margin: 0px 0px 5px;
}
a.lang_a {
	line-height: 35px;
	background: url(../img/lang_a.gif) repeat center -40px;
	display: block;
	line-height: 35px;
	margin-top: -52px;
	position: absolute;
	margin-left: 800px;
}
a.lang_a span  {
	background: url(../img/lang_a.gif) no-repeat left top;
	display: block;
	line-height: 35px;
	padding: 0px 0px 0px 15px;
}
a.lang_a strong  {
	display: block;
	line-height: 35px;
	background: url(../img/lang_a.gif) no-repeat right -80px;
	font-weight: normal;
	padding: 0px 15px 0px 0px;
	text-align: center;
}
#wenbenyu{
	color: #666666;
	height: 150px;
	width: 300px;
}
#head {
	height: 75px;
}
#head_bar {
	height: 18px;
	background: url(../img/app_logo.gif) no-repeat left top;
	margin: 0px auto;
	padding: 42px 0px 10px;
	color: #999999;
	width: 1000px;
	border-bottom: 1px solid #dddddd;
}
.place {
	padding-bottom: 15px;
	padding-top:10px;
	display: block;
}
/*mian*/
#mian_box{
	width:1000px;
	font-size:12px;
	}
#mian_right{
	width:750px; 
	float:left; 


	}
		#right_top{
		margin-bottom:16px;
		padding-top:10px;
		}
		#right_line{
		width:750px;
		height:2px;
		background:url(../img/right_line.gif);
		background-repeat:repeat-x;
		}
			#line3{
		width:1000px;
		height:2px;
		background:url(../img/right_line.gif);
		background-repeat:repeat-x;
		}
		#pictures{
		margin-top:0px;
		}
		#biao{
		line-height:22px;
		font-size:12px;}
		#list{
		line-height:24px;}
		#hr{width:750p;
		height:1px;
		line-height:1px;
		background:#BEBEBE;
		margin:10px 0px;}
#main_left{
	width:200px;
	float:left;
	margin-left:20px;
	border: 1px solid #eeeeee;
	padding:0px 14px 10px;
	
}
	h1{ 
		font-size:14px;
		line-height:40px;
		margin:0px;
		padding:0px;}
	#line{
	 width:200px;
	 height:1px;
 	background:url(../img/line.gif) repeat-x;}
	
	#lists{
	margin: 0px;
	padding: 0px;
	padding-top:10px;
	width:200px;
	}
	#lists li{
	float:left;
	padding-bottom:10px;
	}
	#lists_two{
	float:left;
	margin-left:10px;
	}

/*hot*/
#right_box{
	width:200px;
	float:left;}
	#new_left{
	 float:left;}
	 	#new_left_1{
	 margin:5px 0px;
	 float:left;}
	 #new_right{
	 margin:0px 0px 0px 20px;
	 float:left;}
	 	 #new_right_1{
	 margin:0px 0px 0px 10px;
	 float:left;}
	 #new_right li{
	 line-height:17px;}
#title{ padding-top:5px;}
	#title li{ 
	line-height:16px;
	}


	
.footer{
	font: normal 12px/24px Tahoma, "微软雅黑", "黑体", Arial;
	width:1000px;
	color: #858585;
	margin:0 auto;
}



.line2 {
	border-bottom: 1px dashed #dddddd;
	margin-bottom: 20px;
	margin-top: 10px;
	padding-bottom: 10px;
	color: #999999;
}
.line2 strong {
	font: bold 14px/normal "微软雅黑", "黑体", "helvetica neue", "lucida grande", helvetica, arial, sans-serif;
	display: block;
	padding-bottom: 10px;
	color: #333333;
}
.click:link {
	COLOR: #35a9dd;
	TEXT-DECORATION: none
}
.click:visited {
	COLOR: #093549;
	TEXT-DECORATION: none
}
.click:hover {
	COLOR: #093549;
	TEXT-DECORATION: underline
}
.click:active {
	COLOR: #093549;
	TEXT-DECORATION: underline
}
/*list*/
#right_box_250{
	width:250px;
	float:left;
	padding-top:10px;}
	#right_box_250_1{
	width:250px;
	float:left;
	padding-top:15px;}
h2{
		line-height:22px;
		font-size:16px;
		color:#036591;
}
/*more*/
#more{
	position: relative;
	visibility: visible;
	left: 120px;
}
/*index*/
#index_box{
	width:1000px;
	height:auto;
	background: url(../img/js.gif);
	background-repeat:no-repeat;	
}
#index_left{
width:530px;
float:left;
height:auto;}
#index_right{
width:426px;
float:left;
padding-left:44px;
padding-top:50px;}
input.index_menu {
	border: 1px solid #0069a7;
	background: #1d90dc url(../img/menu_bg.gif) repeat-x left top;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	line-height: 35px;
	padding: 0px 25px;
	border-radius: 4x;
	height:35px;
	vertical-align: middle;
}
#idex_horn{
font-size:12px;
padding-left:30px;}
#index_products{
width:1000px;
padding-top:15px;}
#index_products li{
float:left;
padding-left:4px;
*padding-left:1px;
_padding-left:1px;
}

.index_img{
padding-top:11px;}
#none{
margin:0px;
float:left;
padding:0px;}
.default{filter:alpha(opacity=50);
 -moz-opacity:0.3;
 -khtml-opacity: 0.3;
 opacity: 0.3;}
 .qiehuan{
margin-top:28px;
margin-left:10px;
 line-height:18px;
 font-size:12px;}
#experience{
margin:0 auto;
}
/*service*/
h3{margin-bottom:3px;
font-family: "微软雅黑", "黑体", "helvetica neue", "lucida grande", helvetica, arial, sans-serif;
}
.zh12{
font-size:12px;}
.zh16{
font-size:16px;}
.zh50{
font-size:50px;}
.color_696{
color:#696969;}
.color_666{
color:#666;}
.color_333{
color:#333;}
.color_d1373c{
color:#d1373c;}
.color_bai{
color:#FFF;}
.hg30{
line-height:30px;}
.hg140{
line-height:140%;}
.hg250{
line-height:250%;} 
.yinying{text-shadow: 0 2px 1px #7c7c7c;}
.yinying1{text-shadow: 0 1px 1px #878b8b;}
.zc{
font-weight:bold;}


