#managediscuse{
	width:1000px;
	height:100%;
	border:1px solid #DFDFDF;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:20px;
}
/*°æ¿é¹ÜÀí*/
.managediscuse_section{
	width:930px;
	height:180px;
	margin-left:35px;
	margin-top:50px;
}
.managediscuse_section_title{
	width:930px;
	height:22px;
	
}
.managediscuse_section_title_one{
	color:#909090;
	font-size:16px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}
.managediscuse_section_title_two{
	font-size:12px;
}
.managediscuse_section_content{
	margin-top:20px;
	width:930px;
	height:131px;
}
.managediscuse_section_content ul{
	list-style-type:none;
	margin:0;
	padding:0;
	display:block;
	width:930px;
	height:auto;
	float:left;
}
.managediscuse_section_content ul li{
	display:block;
	width:310px;
	height:22px;
	float:left;
	margin-top:10px;
}
.check{
	display:block;
	width:22px;
	height:22px;
	float:left;
	margin:0;
}
.classcheck{
	display:block;
	width:22px;
	height:22px;
	float:left;
	margin:0;
}
.managediscuse_section_content ul li span{
	display:block;
	width:150px;
	height:22px;
	line-height:22px;
	font-size:12px;
	float:left;
	margin-left:10px;
}
.show{
	display:block;
	width:50px;
	height:21px;
	border:none;
	background:url(gl_an.jpg);
	color:#fff;
	border-radius:3px;
	margin-left:10px;
	float:left;
}
.blank{
	display:block;
	width:50px;
	height:21px;
	border:1px solid #DADADA;
	background:#fff;
	border-radius:3px;
	margin-left:10px;
	float:left;
}
.managediscuse_section_content_select{
	width:930px;
	height:21px;
	margin-top:10px;
}
.managediscuse_section_content_select span{
	font-size:12px;
	display:block;
	width:30px;
	height:21px;
	line-height:21px;
	float:left;
	margin-left:10px;
}
/*µÇÂ½´ÎÊý¹ÜÀí*/
.managediscuse_land{
	width:930px;
	height:45px;
	margin-top:20px;
	margin-left:35px;
	clear:both;
}
.numbertitle{
	display:block;
	width:200px;
	height:22px;
	line-height:22px;
	color:#909090;
	font-size:16px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}
.managediscuse_land div{
	width:930px;
	height:22px;
}
.managediscuse_land_one{
	display:block;
	width:130px;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
}
.managediscuse_land div input{
	display:block;
	width:100px;
	height:18px;
	
	float:left;
}
.managediscuse_land_two{
	display:block;
	width:90px;
	height:20px;
	line-height:20px;
	font-size:12px;
	float:left;
	margin-left:10px;
}

.managediscuse_import{
	width:930px;
	height:100px;
	margin-top:20px;
	margin-left:35px;
}
.managediscuse_import_title{
	width:930px;
	height:20px;
}
.managediscuse_import_title_one{
	
	width:200px;
	height:22px;
	line-height:22px;
	color:#909090;
	font-size:16px;
	font-weight:bold;
	font-family:Î¢ÈíÑÅºÚ;
}
.managediscuse_import_title_two{
	font-size:12px;
}
.managediscuse_import_content{
	width:930px;
	height:30px;
	margin-top:5px;
}
.managediscuse_import_content span{
	font-size:12px;
	display:block;
	width:50px;
	height:21px;
	line-height:21px;
	float:left;
}
.managediscuse_import_content_text{
	display:block;
	width:200px;
	border:1px solid #CECECE;
	height:19px;
	float:left;
}
.keep{
	display:block;
	width:50px;
	height:21px;
	border:none;
	background:url(gl_an.jpg);
	color:#fff;
	border-radius:3px;
	margin-left:10px;
	float:left;
}